@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-300-trans: hsl(252, 6%, 83%, 0.5);
  --Neutral-300-trans-2: hsl(252, 6%, 83%, 0.2);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-700-trans: hsl(245, 19%, 35%, 0.3);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient-text: hsl(7, 86%, 67%);
  --White: hsl(0, 0%, 100%);
  --font-Inconsolata: 'Inconsolata', monospace;
}


body {
    color: var(--White);
    background-image: url("./assets/images/pattern-circle.svg"), url("./assets/images/pattern-squiggly-line-top.svg"), url("./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"), url("./assets/images/pattern-lines.svg"), url("./assets/images/background-mobile.png");
    background-repeat:no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-attachment:scroll, scroll, fixed, fixed, fixed;
    background-position:400px 480px, right 10px, left bottom, top right, center;
    background-size: 40% auto, 30% auto, 80% auto, auto 87%, cover;
    height: 100vh;
    font-family: var(--font-Inconsolata);
    display: flex;
    flex-direction: column;
    align-items: center;
     

}

.container {
    width: 375px;
   
    margin: 10px 16px 0 16px;
    display: flex;
    flex-direction: column;
            
}
.title-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    gap: 1.5rem;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    
}


.title-img {
    width: 50%;
    height: 24px;
    margin-bottom: 12px;
}

.title {
    font-size: clamp(28px, 5vw, 50px);
    font-weight: 700;
}
.title > span {
    background: linear-gradient(45deg, var(--Orange-700), var(--White));
    background-clip: text;
    color: transparent;
}
.title-paragraph {
    font-size: 1.3em;
    color: var(--Neutral-300);
    line-height: 130%;
}
.title-paragraph > span {
    color: var(--Orange-500);
    font-size: 1em;
}

/*-----form container-----*/

.form-ctn{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px 0;
    gap: 15px;
}
label {
    font-size: 1.25em;
}

/*-----drop area-----*/
.drop-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--Neutral-700-trans);
    font-weight: 300;
    font-size: 1em;
    border-radius: 15px;
    padding: 22px;
    border: 2px dashed var(--Neutral-300);
    transition: border-color 0.3s ease-in-out;
}


.drop-area:hover {
    cursor: pointer;
    background-color: var(--Neutral-300-trans);
}
.drop-area.active {
    box-shadow: 0 0 0 3px var(--Neutral-900), 0 0 0 5px var(--Neutral-300-trans);
    background-color: var(--Neutral-300-trans);
}
.text-drag-and-drop.hide {
    display: none;
}
.upload-icon {
   background-color: var(--Neutral-300-trans-2);
   border: 1px solid var(--Neutral-300-trans);
   border-radius: 8px;
   padding: 8px;
}
.img-preview {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid  var(--Neutral-300-trans);
    display: none;
    overflow: hidden;
}
.btn-change-img-ctn{
    display: flex;
    gap: 10px;
}
.btn-remove-img, .btn-change-img {
    border: none;
    background-color: var(--Neutral-300-trans-2);
    color: var(--Neutral-300);
    text-decoration: underline;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}
.btn-remove-img.show, .btn-change-img.show {
    display: flex;
}
.advertising-upload {
    display: flex;
    font-size: 0.8em;
    align-items: center;
    gap: 8px;
    font-weight: 200;
}
.advertising-upload.hide {
    display: none;;
}
#upload-img {
    display: none;
}
.upload-icon.active{
    display: none;
}
.img-preview.active {
    display:flex;
}

input {
    background-color: var(--Neutral-700-trans);
    border: 1px solid var(--Neutral-300-trans);
    width: 100%;
    height: 54px;
    border-radius: 10px;
    font-family: var(--font-Inconsolata);
    font-size: 1.2em;
    color: var(--Neutral-0);
    padding: 20px;
    margin-bottom: 6px;
}
input::placeholder {
    color: var(--Neutral-300);
}   
input:hover {
    cursor: pointer;
    background-color: var(--Neutral-300-trans);
}
input:focus {
    box-shadow: 0 0 0 3px var(--Neutral-900), 0 0 0 5px var(--Neutral-300-trans);
}

/* ------input state error------ */

input:invalid {
    border: 1px solid var(--Orange-500);
    stroke: var(--Orange-500);
  }
  .error-email-msg{
    display: none;
    font-size: 0.8em;
    align-items: center;
    gap: 8px;
    font-weight: 300;
    color: var(--Orange-500);
  }
input:invalid + .error-email-msg {
    display: flex;
    
}
/* -----upload container error state-----*/
.error-upload-msg {
    display: none;
    font-size: 0.8em;
    align-items: center;
    gap: 8px;
    font-weight: 300;
    color: var(--Orange-500);
}
.error-upload-msg.show {
    display: flex;
}
.btn-generate {
    padding: 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--Orange-500);
    font-size: 1.25em;
    font-family: var(--font-Inconsolata);
    font-weight: 900;
    color: var(--Neutral-900);
    margin-top: 10px;
    margin-bottom: 85px;
}
.btn-generate:hover {
    cursor: pointer;
    background-color: var(--Orange-700);
    box-shadow: 0 3px 0 0 var(--Orange-500);
}
.btn-generate:focus {
    cursor: pointer;
    background-color: var(--Orange-700);
    box-shadow: 0 0 0 3px var(--Neutral-900), 0 0 0 4px var(--Neutral-0);
}
/* -----ticket generator----- */


.ticket-ctn {
    display: none;
    width: 100%;
    min-width: 375px;
    height: 100%;
    max-width: 530px;
    margin: 10px 16px 0 16px;
    flex-direction: column;
    
         
}
.ticket {
    background-image: url("./assets/images/pattern-ticket.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    background-position: center;
    aspect-ratio: 16/ 9;  
    padding: 20px 32px;
    display: grid;
    grid-template-columns: 88% 22%;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    position: relative;
}
.ticket-logo-ctn {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    grid-column: 1 / 1;
    align-items: center;
}
.ticket-logo {
    width: 13%;
    margin-bottom: 3%;
    
    
}
.ticket-title {
    font-size: clamp(23px, 5vw, 33px);
    font-weight: 700;
    margin-bottom: 12px;
}
.ticket-date, .email-avatar {
    font-size: clamp(15px, 4vw, 18px);
    color: var(--Neutral-300);
}
.ticket-avatar-img {
    width: 20%;
   
    border-radius: 10px;
    margin-right: 12px;
}
.ticket-avatar-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.avatar-name {
    font-size: clamp(18px, 5vw, 32px);
    font-weight: 600;
}
.ticket-info-ctn {
    display: flex;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    align-self: center;
}
.ticket-info-email-avatar-ctn {
    display: flex;
    align-items: center;
}
.ticket-avatar-github {
    width: 16px;
    height: 16px;
}
.ticket-num {
    rotate: 90deg;
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    place-self: center;
    font-size: clamp( 24px, 7vw, 36px);
    color: var(--Neutral-300-trans);
}

/**---------------change view ticket-------------**/
.container.change {
    display: none;
}
.ticket-ctn.change {
    display: flex;
}


/**---------------media queries-------------**/
@media screen and (min-width: 560px) {
    body {
        color: var(--White);
        background-image: url("./assets/images/pattern-circle.svg"), url("./assets/images/pattern-squiggly-line-top.svg"), url("./assets/images/pattern-squiggly-line-bottom-desktop.svg"), url("./assets/images/pattern-lines.svg"), url("./assets/images/background-tablet.png");
        background-repeat:no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-attachment:scroll, scroll, fixed, fixed, fixed;
        background-position:700px 480px, right 10px, left bottom, top right, center;
        background-size: auto auto, 50% auto, 65% auto, auto 87%, cover;
       
          
    
    }

    .container {
        width: 460px;
        margin: 10px 16px 0 16px;
        flex-direction: column;
                     
    }
    .container.change {
        display: none;
    }
    .ticket.change {
        display: flex;
    }
  

}

@media screen and (min-width: 992px) {
    body {
        color: var(--White);
        background-image: url("./assets/images/pattern-circle.svg"), url("./assets/images/pattern-squiggly-line-top.svg"), url("./assets/images/pattern-squiggly-line-bottom-desktop.svg"), url("./assets/images/pattern-lines.svg"), url("./assets/images/background-desktop.png");
        background-repeat:no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-attachment:scroll, scroll, fixed, fixed, fixed;
        background-position:700px 480px, right 10px, left bottom, top right, center;
        background-size: auto auto, 50% auto, 65% auto, auto 87%, cover;
                 
    
    }

    .container {
        width: 900px;
        margin: 10px 16px 0 16px;
        align-items: center;       
                     
    }

    .form-ctn {
        width: 460px;
                
    }
    .title {
        font-weight: 900;
    }
    .container.change {
        display: none;
    }
    .ticket.change {
        display: flex;
    }
}