@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-300-trans: hsl(252, 6%, 83%, 0.5);
  --Neutral-300-trans-2: hsl(252, 6%, 83%, 0.2);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-700-trans: hsl(245, 19%, 35%, 0.3);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient-text: hsl(7, 86%, 67%);
  --White: hsl(0, 0%, 100%);
  --font-Inconsolata: 'Inconsolata', monospace;
}

body {
    color: var(--White);
    background-image: url("./assets/images/background-mobile.png");
    background-size: cover;
    height: 100vh;
    font-family: var(--font-Inconsolata);
    display: grid;
    place-items: center;

    
}

.container {
    width: 375px;
    margin: 30px 16px 0 16px;
    display: flex;
    flex-direction: column;
  
         
}
.title-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
    gap: 1.5rem;
    text-align: center;
    padding: 10px;
}
.title-img {
    width: 50%;
    height: 24px;
    margin-bottom: 12px;
}
.title {
    font-size: 1.85em;
    font-weight: 700;
}
.title-paragraph {
    font-size: 1.3em;
    color: var(--Neutral-300);
}


/* form container */

.form-ctn{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px 0;
    gap: 15px;
}
label {
    font-size: 1.25em;
}

/*upload container*/
.upload-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--Neutral-700-trans);
    font-weight: 300;
    font-size: 1em;
    border-radius: 15px;
    padding: 22px;
    border: 2px dashed var(--Neutral-300);
    transition: border-color 0.3s ease-in-out;
}

.upload-ctn:active {
    box-shadow: 0 0 0 3px var(--Neutral-900), 0 0 0 5px var(--Neutral-300-trans);
}
.upload-ctn:hover {
    cursor: pointer;
   
    background-color: var(--Neutral-300-trans);
   
}
.upload-icon {
   background-color: var(--Neutral-300-trans-2);
   border: 1px solid var(--Neutral-300-trans);
   border-radius: 8px;
   padding: 8px;
}
.advertising-upload {
    display: flex;
    font-size: 0.8em;
    align-items: center;
    gap: 8px;
    font-weight: 200;
}

input {
    background-color: var(--Neutral-700-trans);
    border: 1px solid var(--Neutral-300-trans);
    width: 100%;
    height: 54px;
    border-radius: 10px;
    font-family: var(--font-Inconsolata);
    font-size: 1.2em;
    color: var(--Neutral-0);
    padding: 20px;
  
  
}
input::placeholder {
    color: var(--Neutral-300);
         
}   
input:hover {
    cursor: pointer;
    background-color: var(--Neutral-300-trans);
    
}
input:focus {
    box-shadow: 0 0 0 3px var(--Neutral-900), 0 0 0 5px var(--Neutral-300-trans);
}

/* input state error */


input:invalid {
    border: 1px solid var(--Orange-500);
    stroke: var(--Orange-500);
  }

  .error-email-msg{
    display: none;
    font-size: 0.8em;
    align-items: center;
    gap: 8px;
    font-weight: 300;
    color: var(--Orange-500);
  }
input:invalid + .error-email-msg {
    display: flex;
    
}
        
/* upload container error state*/
.error-upload-msg {
    display: flex;
    font-size: 0.8em;
    align-items: center;
    gap: 8px;
    font-weight: 300;
    color: var(--Orange-500);
}

.btn-generate {
    padding: 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--Orange-500);
    font-size: 1.25em;
    font-family: var(--font-Inconsolata);
    font-weight: 900;
    color: var(--Neutral-900);
    margin-top: 10px;
    margin-bottom: 25px;
    
}
.btn-generate:hover {
    cursor: pointer;
    background-color: var(--Orange-700);
    box-shadow: 0 3px 0 0 var(--Orange-500);
}

.btn-generate:focus {
    cursor: pointer;
    background-color: var(--Orange-700);
    box-shadow: 0 0 0 3px var(--Neutral-900), 0 0 0 4px var(--Neutral-0);
}

/* ticket generator */


.container {
    display: none;
}

.ticket-ctn {
    display: flex;
    flex-direction: column;
    width: 375px;
    
}

.ticket {
    background-image: url("./assets/images/pattern-ticket.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 160px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.ticket-logo-ctn {
    display: flex;
    gap: 10px;
    
    
    margin-bottom: 5px;
}
.ticket-logo {
    width: 30px;
    height: 30px;
}
.ticket-title {
    font-size: 1.35em;
    font-weight: 700;
    margin-bottom: 12px;
}
.ticket-date, .email-avatar {
    font-size: 0.9em;
    color: var(--Neutral-300);
    
}

.ticket-avatar-img {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 12px;
    
    
}
.ticket-avatar-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.avatar-name {
    font-size: 1.155em;
    font-weight: 600;
}

.ticket-info-ctn {
    display: flex;
}

.ticket-info-email-avatar-ctn {
    display: flex;
    align-items: center;
}
.ticket-avatar-github {
    width: 16px;
    height: 16px;
}
